In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Question1
Answer1:

In [4]:
import pandas as pd

l = [4,8,15,16,23,42]
pf = pd.Series(l)
print(pf)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Question2
Answer2:

In [5]:
import pandas as pd

p = ["Shubham",123,"Rutvik",456,"Jaishankar",789,"Malivya",923,"Vineet",845]
lf = pd.Series(p)
print(lf)

0       Shubham
1           123
2        Rutvik
3           456
4    Jaishankar
5           789
6       Malivya
7           923
8        Vineet
9           845
dtype: object

Question3
Answer3:

In [7]:
import pandas as pd

data = {'name': ['Alice', 'Bob','Claire'], 'age': [25, 30, 27], 'gender': ['Female','Male','Female']}

df = pd.DataFrame(data)

print(df)

     name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Question4
Answer4:

->A DataFrame in Pandas is a two-dimensional tabular data structure with labeled axes (rows and columns). It is a powerful tool for storing
and analyzing data.

->A Series in Pandas is a one-dimensional labeled array. It is similar to a Python list, but it has an index that allows you to access 
elements by label.

->The main difference between a DataFrame and a Series is that a DataFrame has two dimensions, while a Series has one dimension. This means 
that a DataFrame can store data in a tabular format, while a Series can only store data in a list-like format.

For example, the following code creates a DataFrame with two rows and three columns:

In [8]:
import pandas as pd

data = {'name': ['Alice', 'Bob' ], 'age': [25, 30 ]}

df = pd.DataFrame(data)

print(df)

    name  age
0  Alice   25
1    Bob   30

The following code creates a Series with three elements:

In [9]:
import pandas as pd

data = [1, 2, 3]

series = pd.Series(data)

print(series)

0    1
1    2
2    3
dtype: int64

Question5
Answer5:

here are some common functions you can use to manipulate data in a Pandas DataFrame:
    
->head(): This function returns the first few rows of a DataFrame. For example, df.head() would return the first five rows of the DataFrame.

->tail(): This function returns the last few rows of a DataFrame. For example, df.tail() would return the last five rows of the DataFrame.

->describe(): This function returns a summary of the statistical distribution of the data in a DataFrame. For example, df.describe() would
return the mean, standard deviation, minimum, maximum, and other statistical information for each column in the DataFrame.

example of when you might use one of these functions:

->You might use the head() function to get a quick overview of the first few rows of a DataFrame. For example, if you wanted to see the 
first five rows of a DataFrame, you would use the head() function like this: df.head().

->You might use the tail() function to get a quick overview of the last few rows of a DataFrame. For example, if you wanted to see the last 
five rows of a DataFrame, you would use the tail() function like this: df.tail().

->You might use the describe() function to get a summary of the statistical distribution of the data in a DataFrame. For example, if you 
wanted to see the mean, standard deviation, minimum, maximum, and other statistical information for each column in a DataFrame, you would 
use the describe() function like this: df.describe().

Question6
Answer6:

->All Pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable. Series and DataFrame 
are both mutable in nature, while Panel is not.

->Series is a one-dimensional labeled array, while DataFrame is a two-dimensional labeled array. Both Series and DataFrames can be modified
by adding or removing elements, or by changing the values of existing elements.

->Panel is a three-dimensional labeled array. Panels are not mutable in nature, meaning that the size of a Panel cannot be changed once it 
has been created.

Question7
Answer7:

In [11]:
import pandas as pd

s1 = pd.Series([1,2,3], name='A')
s2 = pd.Series([4,5,6], name='B')
s3 = pd.Series([7,8,9], name='C')

df = pd.DataFrame([s1,s2,s3])

print(df)

   0  1  2
A  1  2  3
B  4  5  6
C  7  8  9