Question1
Answer1:

A database is a collection of data organized in a way that makes it easy to access and use. Databases are used to store all sorts of 
information, from customer records to product catalogs to financial data.

SQL (Structured Query Language) and NoSQL are two different types of databases. SQL databases are relational databases, while NoSQL
databases are non-relational databases.

SQL databases:

->Relational databases store data in tables, which are made up of rows and columns.

->SQL databases use a structured query language (SQL) to access and manipulate data.

->SQL databases are good for applications that need to perform complex queries and transactions.

->SQL databases are less flexible than NoSQL databases.

NoSQL databases:

->NoSQL databases do not store data in tables. Instead, they store data in a variety of ways, such as key-value pairs, document-oriented 
databases, and graph databases.

->NoSQL databases do not use SQL. Instead, they use their own query languages.

->NoSQL databases are good for applications that need to store large amounts of unstructured data.

->NoSQL databases are more flexible than SQL databases.

Question2
Answer2:

DDL stands for Data Definition Language. It is a set of SQL commands that are used to create, modify, and delete database objects. The four
most common DDL commands are:

->CREATE: This command is used to create new database objects, such as tables, views, and indexes. For example, the following command
creates a new table called customers:

In [ ]:
CREATE TABLE customers (
  id INT NOT NULL AUTO_INCREMENT,
  name VARCHAR(255),
  email VARCHAR(255),
);

->DROP: This command is used to delete database objects. For example, the following command deletes the customers table:

In [ ]:
DROP TABLE customers;

->ALTER: This command is used to modify database objects. For example, the following command adds a new column to the customers table:

In [ ]:
ALTER TABLE customers ADD COLUMN address VARCHAR(255);

->TRUNCATE: This command is used to delete all rows from a table. However, the table structure is not deleted. For example, the following 
command truncates the customers table:

In [ ]:
TRUNCATE TABLE customers;

->CREATE, DROP, ALTER, and TRUNCATE are used to manage the structure of a database. CREATE is used to create new database objects, DROP
is used to delete database objects, ALTER is used to modify database objects, and TRUNCATE is used to delete all rows from a table

Question3
Answer3:

->DML stands for Data Manipulation Language. It is a set of SQL statements that are used to add, update, and delete data in a database. The
three main DML statements are INSERT, UPDATE, and DELETE.

->INSERT is used to add new rows to a table. The syntax for the INSERT statement is:

In [ ]:
INSERT INTO table_name (column1, column2, ...)
VALUES (value1, value2, ...);

INSERT INTO employees (name, id)
VALUES ('Shubham Tiwari', 9984785357);

->UPDATE is used to modify the data in existing rows. The syntax for the UPDATE statement is:

In [ ]:
UPDATE employees
SET name = 'Shubham Tiwari'
WHERE id = 12345;

->DELETE is used to delete rows from a table. The syntax for the DELETE statement is:

In [ ]:
DELETE FROM employees
WHERE name = 'Shubham Tiwari';

Question4
Answer4:

->DQL stands for Data Query Language. It is a set of SQL statements that are used to retrieve data from a database. The main DQL statement 
is SELECT.

->The SELECT statement is used to retrieve a subset of data from a table or multiple tables. The syntax for the SELECT statement is:

In [ ]:
SELECT column_name, column_name, ...
FROM table_name;

->The SELECT statement can also be used to filter the data that is retrieved. For example, the following statement would retrieve the name
and department of all employees who are in the Sales department:

In [ ]:
SELECT name, department
FROM employees
WHERE department = 'Sales';

->The SELECT statement can also be used to order the data that is retrieved. For example, the following statement would retrieve the name
and department of all employees in alphabetical order by name:

In [ ]:
SELECT name, department
FROM employees
ORDER BY name;

Question5
Answer5:

->A primary key is a column or group of columns in a relational database table that uniquely identifies each row in the table. A foreign key
is a column or group of columns in a table that refers to the primary key of another table.

->Primary keys are used to ensure the uniqueness of data in a table. Foreign keys are used to establish a relationship between two tables.

->A primary key must be unique for each row in a table. A foreign key can have duplicate values, as long as the values are also present in
the primary key of the referenced table.

->For example, in a table of employees, the employee ID column could be the primary key. This would ensure that each employee has a unique
ID

-> For example, in a table of orders, the product ID column could be a foreign key that refers to the product ID column in the products 
table. This would ensure that each order refers to a valid product.

Question6
Answer6:

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()

->The cursor() method creates a cursor object. A cursor object is used to execute SQL queries and fetch the results of those queries.

->The execute() method executes a SQL query. The execute() method takes a SQL query as its argument.

Question7
Answer7:

In [ ]:
The order of execution of SQL clauses in an SQL query is as follows:

->SELECT: The SELECT clause specifies the columns that you want to retrieve from the database.
->FROM: The FROM clause specifies the table(s) that you want to retrieve data from.
->WHERE: The WHERE clause specifies the conditions that the rows must meet in order to be included in the result set.
->GROUP BY: The GROUP BY clause groups the rows together based on the values in one or more columns.
->HAVING: The HAVING clause specifies the conditions that the groups must meet in order to be included in the result set.
->ORDER BY: The ORDER BY clause specifies the order in which the rows should be returned.